:root {
  --textColor: white;
  --mainColor: #69e6ba;
  --secondaryColor: #4db6ac;
}

* {
  font-family: "Times New Roman", Times, serif;
}
/* Id's */
#surpriseRecipe {
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: hidden;
  padding: 1%;
  color: var(--textColor);
  background-color: var(--secondaryColor);
  box-shadow: 1px 1px 10px rgb(172, 170, 170);
}
#surpriseRecipe:hover {
  background-color: #43a198;
}

#ingredients {
  font-size: 40px;
  border-bottom: 4px solid rgb(255, 255, 255);
  padding-right: 300px;
}
/* Classes */

.div {
  display: flex;
  background-color: coral;
}

.header {
  text-align: center;
  width: auto;
  padding-top: 3px;
  padding-bottom: 10px;
  background-color: var(--mainColor);
  color: var(--textColor);
  font-size: 25px;
}

.cardHolder {
  color: white;
  font-size: 20px;
}


.card-title {
  background-color:var(--mainColor);
  padding: 25px;
  text-align: center;
  border-radius: 15px;
}

.card .card-title {
  font-size: 28px;
  font-style: italic;
}
.subheader {
  font-size: 25px;
}

.removeBtn {
  margin-bottom: 10px;
  border-radius: 10px;
  color: black;
  background-color: var(--mainColor);
  border-color: var(--secondaryColor);
}

.recipeBtn {
  background-color: var(--mainColor);
  border-radius: 10px;
  border-style: hidden;
  color: var(--textColor);
  padding: 1%;
  box-shadow: 1px 1px 20px grey;
  margin-left: 833px;
}

.recipeBtn:hover {
background-color: #56cca3;
}
#addIngredient {
  background-color: var(--mainColor);
  border-radius: 5px;
  border-style: hidden;
  color: var(--textColor);
  padding: 2%;
  box-shadow: 1px 1px 20px grey;
}

#addIngredient:hover {
background-color: #56cca3;
}

body {
min-height: 100vh;
display: flex;
}

#footer {
  text-align: center;
  position: sticky;
  top: 100%;
  height: auto;
  background-color: var(--mainColor);
  color: var(--textColor);
  font-size: 25px;
  padding: 1%;
}

#jokeBtn {
  margin-top: 20px;
  border-radius: 5px;
  border-style: hidden;
  padding: 1%;
  color: var(--textColor);
  background-color: var(--secondaryColor);
  box-shadow: 1px 1px 10px rgb(172, 170, 170);
}

#jokeBtn:hover {
  background-color: #43a198;
}
