:root {
  --textColor: white;
  --mainColor: #69e6ba;
  --secondaryColor: #4db6ac;
}

* {
  font-family: "Times New Roman", Times, serif;
}
/* Id's */
#surpriseRecipe {
  margin-bottom: 10px;
  border-radius: 5px;
  color: var(--textColor);
  background-color: var(--secondaryColor);
}
#ingredients {
  font-size: 20px;
  border-bottom: 4px solid rgb(255, 255, 255);
  padding-right: 300px;
}
/* Classes */

.div {
  display: flex;
  background-color: coral;
}

.header {
  text-align: center;
  width: auto;
  padding-top: 3px;
  padding-bottom: 10px;
  background-color: var(--mainColor);
  color: var(--textColor);
  font-size: 25px;
}

.cardHolder {
  color: white;
  font-size: 15px;
}


.card-title {
  background-color:var(--mainColor);
  padding: 25px;
  text-align: center;
  border-radius: 15px;

}

.card .card-title {
  font-size: 28px;
  font-style: italic;
}
.subheader {
  font-size: 25px;
}

.removeBtn {

}

.recipeBtn {
  
}